* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}
.bg {
    width: 100%;
    height: 100vh;              
    background-image: url("../img/bg.jpg");
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
}
.box-login {
    width: 90%;
    max-width: 500px;
    padding: 48px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}


.login{
    background: #E7E3FC3B;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
}

.imglogo, .welcome-text, .submit {
  align-items: center;
  text-align: center;
  display: block;
  margin: 0 auto 20px auto;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.google-login{
    background: transparent;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    color : #fff;
}
input {
    background: transparent;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #fff;
}
.options {
    display: flex;
     justify-content: space-between; 
     padding: 10px 10px;
     text-decoration: none;
}
@media (max-width: 480px) {
    .box-login {
        padding: 24px;
        max-width: 95%;
    }

    input {
        padding: 10px;
        font-size: 14px;
    }

    .login,
    .google-login {
        padding: 10px;
        font-size: 14px;
    }

    .options {
        font-size: 13px;
        padding: 6px 0;
    }
}
